html {
	position: relative;
	min-height: 100%;
}
html, body {
	margin: 0;
	padding: 0;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.Animation {
	height: 50px;
	width: 50px;
	border-width: 2px;
	border-color: #fff;
}