html {
	background-image: url("/images/background.jpg");
}
.centered {
	position: fixed; /*or absolute */
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}
.text-center {
	position: fixed; /*or absolute */
	top: 70%;
	left: 50%;
	margin-top: -70px;
	margin-left: -100px;
	color: #e6e6e6;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}