html {
	background-image: url("/images/background.jpg");
}
.centered {
	position: fixed; /*or absolute */
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}
p {
	color: #000;
	font-size: 20px;
}
