html {
  width: 100%;
  height: 100%;
  background: url("/images/Polyscape7.png") center center no-repeat;
}

.responsive-container {
  width: 100%;
  border: 1px solid black;
}
.img-container {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
