html {
	width: 100%;
	height: 100%;
	background: url("/images/background.jpg"); center center no-repeat;
}
abc {
	text-align: /*this is because for some reason my Text editor is fucked */
}

.responsive-container {
    position: relative;
    width: 100%;
    border: 1px solid black;
}

.container {
    padding-top: 50%; 
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.text {
	font-family: Helvetica, Arial, sans-serif;
	color: #e6e6e6 !important;
}