html {
	background-image: url("/images/background.jpg");
}
.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}
.text {
	position: fixed;
	top: 50%;
	left: 50%;
	color: #e6e6e6;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
}