html {
	width: 100%;
	height: 100%;
	background: url("/images/background.jpg"); center center no-repeat;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.text {
	font-family: Helvetica, Arial, sans-serif;
	color: #e6e6e6 !important;
}