html {
	background-image: url("/images/background.jpg");
}
.center {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}
.offset {
	text-align: justify;
	color: #e6e6e6 !important;
}
